{% extends 'Admin_Article/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    {% for i in '1'..'10' %}
        <div class="pizza">
            <img class="w60" src="{{ asset("img_Pizza/image1.jpg") }}" alt="Image de pizza">
            <h5>Contenue</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius fugiat molestiae necessitatibus optio quaerat qui temporibus voluptate voluptatibus! Praesentium, tempora!</p>
            <h5>Vous voulez ajouter un commantaire pour cette pizza ?</h5>
            <label for="Name">Votre nom :</label>
            <input type="text" id="Name" placeholder="Votre nom">
            <div class=""><label for="Commentaire">Le commentaire :</label>
            <input type="text" id="Commentaire"></div>
        </div>
    {% endfor %}
{% endblock %}
