{% extends 'article/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
<div class="bg"></div>
    <button class="btn btn-dark la-carte-btn">La carte</button>
{% endblock %}
