{% extends 'base.html.twig' %}
{%  block head %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<button class="btn btn-dark la-carte-btn">La carte</button>


{% endblock %}
